/*
	Formatierungsanweisungen für das TipGame.

	Farben: #DEDEEE
		#C8C8DD
		#BABADC
*/



/*
	Common
*/

body{background-color:#DEDEEE;font-family:Verdana,Arial,sans-serif;font-size:13px;color:black}
.bold{font-weight:bold}

/*
	Header
*/

#TG_Header_Title{font-size:32px;font-weight:bold;text-decoration:underline}
#TG_Header_StatsCreated{color:black;text-align:center}

/*
	Player Stats
*/

#TG_Player_TextTitle{color:black;font-size:large;font-weight:bolder}
#TG_Player_Table{background-color:#BABADC;border-spacing:2px;text-align:center;width:100%}
#TG_Player_HeadRow{background-color:#BABADC;font-size:small;text-align:center;font-weight:bold}
#TG_Player_HeadRank{background-color:#BABADC}
#TG_Player_HeadPlayer{background-color:#BABADC}
#TG_Player_HeadPoints{background-color:#BABADC}

/*
	Match Table Stats
*/

.TG_MTS_TextTitle{color:black;font-size:large;font-weight:bolder}
.TG_MTS_Table{background-color:#BABADC;border-spacing:2px;text-align:center;width:100%}
.TG_MTS_ContentRow0{font-size:small;background-color:#DEDEEE}
.TG_MTS_ContentRow1{font-size:small;background-color:#C8C8DD}

#TG_Footer
{
      font-family: "Arial narrow", Arial, sans-serif;
      font-size: 10px;
      color: black;
      text-align: center;
}
